// Custom.scss
// Option B: Include parts of Bootstrap

// 1. Include functions first (so you can manipulate colors, SVGs, calc, etc)
@import "../node_modules/bootstrap/scss/functions";

// 2. Include any default variable overrides here

// 3. Include remainder of required Bootstrap stylesheets
@import "../node_modules/bootstrap/scss/variables";
@import "../node_modules/bootstrap/scss/mixins";
@import "../node_modules/bootstrap/scss/root";

// 4. Include any optional Bootstrap CSS as needed
@import "../node_modules/bootstrap/scss/utilities";
@import "../node_modules/bootstrap/scss/reboot";
@import "../node_modules/bootstrap/scss/type";
@import "../node_modules/bootstrap/scss/images";
@import "../node_modules/bootstrap/scss/containers";
@import "../node_modules/bootstrap/scss/grid";
@import "../node_modules/bootstrap/scss/helpers";
@import "../node_modules/bootstrap/scss/buttons";
@import "../node_modules/bootstrap/scss/button-group";
@import "../node_modules/bootstrap/scss/forms";
@import "../node_modules/bootstrap-icons/font/bootstrap-icons.scss";

// 5. Optionally include utilities API last to generate classes based on the Sass map in `_utilities.scss`
@import "../node_modules/bootstrap/scss/utilities/api";

// 6. Add additional custom code here
.hover-pointer:hover {
    cursor: pointer;
}

.app-background {
    background-image: url('images/grass_blur30.jpg');
    background-size: 110%;
    filter: blur(.2);
}

.hover-shadow:hover {
    box-shadow: $box-shadow !important;
}

.hover-shadow-sm:hover {
    box-shadow: $box-shadow-sm !important;
}

.hover-primary:hover {
    color: "#ff00ff" !important;
}

.hover-bg-primary:hover {
    background-color: $primary !important;
}

.hover-bg-info:hover {
    background-color: $secondary !important;
}

.transition-bg-color {
    -webkit-transition: background-color 0.2s ease-in-out;
    -moz-transition: background-color 0.2s ease-in-out;
    -o-transition: background-color 0.2s ease-in-out;
    transition: background-color 0.2s ease-in-out;
}

.transition-all {
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

.hover-enlarge:hover {
    transform: scale(1.005);
}

.hover-enlarge-2:hover {
    transform: scale(1.1);
}